<section class="container">
    <form name="meowculator">
        
        <article class="visor">
            <input type="text" placeholder="0" name="resultadoOperacao" />
        </article>

        <article class="botoes">
            <div class="row">
                <input type="button" name="clear" value="C">
            </div>

            <div class="row">
                <input type="button" name="sete" value="7">
                <input type="button" name="oito" value="8">
                <input type="button" name="nove" value="9">
                <input type="button" name="somar" value="+">
			</div>

            <div class="row">
                <input type="button" name="quatro" value="4">
                <input type="button" name="cinco" value="5">
                <input type="button" name="seis" value="6">
                <input type="button" name="subtrair" value="-">
            </div>
            
            <div class="row">
                <input type="button" name="um" value="1">
                <input type="button" name="dois" value="2">
                <input type="button" name="tres" value="3">
                <input type="button" name="multiplicar" value="*">
            </div>
            
            <div class="row">
                <input type="button" name="zero" value="0">
                <input type="button" name="ponto" value=".">
                <input type="button" name="dividir" value="/">
                <input type="button" class="resultado" value="=">
            </div>
        </article>
    </form>
</section>