<section class="container">
    <form name="meowculator">
        
        <article class="visor">
            <input type="text" name="resultadoOperacao" [value]="display" readonly>
        </article>

        <article class="botoes">
            <div class="row">
                <input type="button" name="clear" (click)="limpar()" value="C">
            </div>

            <div class="row">
                <input type="button" name="sete" (click)="adicionarNumero('7')" value="7">
                <input type="button" name="oito" (click)="adicionarNumero('8')" value="8">
                <input type="button" name="nove" (click)="adicionarNumero('9')" value="9">
                <input type="button" name="somar" (click)="definirOperacao('+')" value="+">
			</div>

            <div class="row">
                <input type="button" name="quatro" (click)="adicionarNumero('4')" value="4">
                <input type="button" name="cinco" (click)="adicionarNumero('5')" value="5">
                <input type="button" name="seis" (click)="adicionarNumero('6')" value="6">
                <input type="button" name="subtrair" (click)="definirOperacao('-')" value="-">
            </div>
            
            <div class="row">
                <input type="button" name="um" (click)="adicionarNumero('1')" value="1">
                <input type="button" name="dois" (click)="adicionarNumero('2')" value="2">
                <input type="button" name="tres" (click)="adicionarNumero('3')" value="3">
                <input type="button" name="multiplicar" (click)="definirOperacao('*')" value="*">
            </div>
            
            <div class="row">
                <input type="button" name="zero" (click)="adicionarNumero('0')" value="0">
                <input type="button" name="ponto" (click)="adicionarNumero('.')" value=".">
                <input type="button" name="dividir" (click)="definirOperacao('/')" value="/">
                <input type="button" class="resultado" (click)="calcular()" value="=">
            </div>
        </article>
    </form>
</section>